body {
  font-family: poppins;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../images/aruba.jpg");
  background-repeat: none;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 20px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.7),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
}

footer h4 {
  font-weight: 700px;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  opacity: 80%;
}

footer li {
  list-style-type: none;
}

footer a {
  color: white;
  opacity: 70%;
}

footer ul {
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  margin: 30px 40px;
  grid-gap: 50px;
  max-width: 100%;
  padding: 30px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  line-height: 1;
  color: #272044;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.grid-2column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 40px;
  grid-gap: 50px;
  max-width: 100%;
  padding: 30px;
}

.grid-3column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.grid-3column img {
  max-width: 100px;
}

.header.grid-2column {
  grid-gap: 0;
}

.embed {
  width: 100px;
  aspect-ratio: 1/1;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card .body {
  padding: 32px;
}

.button {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #7b6abd;
  text-decoration: none;
}

section .history {
  max-width: 500px;
  padding-top: 100px;
}

section.secondary {
  background: rgb(248, 248, 248);
}

.text-center {
  text-align: center;
}

.twitter-embeds {
  margin: 30px 0;
}
@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }

  header h3 {
    font-size: 12px;
  }
  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .grid-2column {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0;
    grid-gap: 0;
  }

  section {
    padding: 25px;
  }

  section img {
    max-width: 100%;
  }

  main h4 {
    font-size: 20px;
  }

  main h5 {
    font-size: 15px;
  }

  main p {
    font-size: 14px;
  }

  main h3 {
    font-size: 35px;
  }
  .button {
    font-size: 7px;
  }

  .grid-3column {
    grid-template-columns: 1fr;
  }

  .card .header {
    display: none;
  }

  section .history {
    max-width: 300px;
    padding: 50px 0px;
  }
}
